*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* GERAL */
.container{
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.cabecalho{
    padding: 34px 0;
    width: 100%;
    background-color: #EAF2FD;
    color: #464646;
}

.cabecalho-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.lista-menu{
    line-height: 30px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.item-menu{
    display: inline;
    margin-right: 30px;
}
.item-menu:last-child{
    margin-right: 0px;
}
.item-menu a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #464646;
}
.item-menu a:hover{
    color: #2A7AE4;
}

/* MAIN */

.main-contato{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
    background-color: #EAF2FD;
}
.contato{
    width: 400px;
    min-height: 410px;
}
.contato h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #2A7AE4;
}
.contato h2{
    height: 45px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 12px 0;
    color: #464646;
}
.contato h3{
    height: 45px;
    font-size: 1rem;
    font-weight: 500;
    margin: 12px 0;
    color: #464646; 
}
.redes-sociais{
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}
.redes-sociais a i{
    font-size: 1.5rem;
    height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    color: #F8F8F8;
}
.redes-sociais a i.fa-whatsapp{
    background-color: #34af23;
}
.redes-sociais a i.fa-instagram{
    background: linear-gradient(to bottom, #515bd4, #8134af, #dd2a7ba9);
}
.redes-sociais a i.fa-linkedin{
    background-color:  #0e76a8;
}
.redes-sociais a i.fa-github{
    background-color: #171515;
}
.redes-sociais a i.fa-codepen{
    background-color: #060606;
}


.enviar-email{  
    width: 400px;
    min-height: 410px;
}
.enviar-email form h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: #2A7AE4;
}
.enviar-email form p{
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    margin-bottom: 10px;
    margin-top: 8px;
}
.enviar-email  input:not([type="submit"]), .enviar-email  textarea{
    width: 100%;
    height: 46px;
    padding: 10px;
    margin-top: 10px;
    border: 0px;
    outline: 0px;
    border-radius: 4px;
    border-bottom: solid 4px #FFFFFF;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}
.enviar-email form input:focus, .enviar-email form textarea:focus{
    border-bottom-color:#2A7AE4;
}
.enviar-email form textarea{
    height: 105px;
    margin-bottom: 20px;
    resize: none;
}
.enviar-email  input[type="submit"]{
    width: 100%;
    height: 46px;
    background-color: #2A7AE4;
    color: #fff;
    border-radius: 0px;
    outline: 0px;
    border: 0px;
}

/* FOOTER */
.footer{
    min-height: 80px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p{
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}


/* MENU MOBILE */
.menu-mobile i{
    width: 90%;
    font-size: 2.5rem;
    text-align: right;
    color: #2A7AE4;
    display: none;
}

.oculto{
    display: none;
}
#close-menu{
    position: absolute;
    top: 10px;
    right: 10px;
}
#close-menu i{
    color: #2A7AE4;
    font-size: 2rem;
}
#close-menu i:active{
    color: #eb0f0f;
}

/* BREAK POINTS */
@media (min-width: 601px) and (max-width:1199px){
    .container{
        width: 95%;
    }
    .main-contato{
        width: 100%;
    }
    .contato{
        width: 48%;
    }
    .enviar-email{
        width: 48%;
    }
}
@media (max-width:600px){
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .main-contato{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0px;
    }
    .contato{
        width: 90%;
        margin-bottom: 50px;
    }
    .enviar-email{
        width: 90%;
    }

    .menu-mobile i{
        display: inline-block;
    }

    .cabecalho-menu{
        display: none;
    }

    .cabecalho-mobile{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;
        background-color: rgba(44, 44, 44, .15);
    }
    .nav-mobile{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        width: 250px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0px;
        padding: 0px;
        background: url("../img/textura.png");
        padding-top: 70px;
        z-index: 99;
    }
    .item-menu{
        display: block;
        margin: 0px;
        margin-bottom: 10px;
    }
    .item-menu a{
        font-size: 20px;
    }
}