*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Bitter', serif;
    font-size: 100%;
    box-sizing: border-box;
}
html, body{
    background-color: rgb(43, 43, 43);
}
ul{
    list-style: none;
}


.linha{
    width: 100%;
    margin: 0 auto;
}


.nada{
    width: 40%;
    padding: 25px 0;
    background-color: rgb(43, 43, 43);
    float: left;
}



.menu { 
    padding: 25px 0;
    background-color: #fbfbfb;
    width: 60%;
    float: right;
}
.navigation ul {
    list-style: none;
}
.navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.navigation ul li a{
    text-decoration: none;
    color: rgb(43, 43, 43);
    padding: 0 30px;
    font-weight: 400;
}

.menu-mobile {
   display: none;
}




.dados-pessoal{
    width: 40%;
    float: left;
    color: #eee;

}

.informacoes{
    width: 60%;
    float: right;
    color: rgb(43, 43, 43);
    background-color: #fbfbfb;
}







.dados-pessoal .containe{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.dados-pessoal li, .dados-pessoal p{
    line-height: 1.4rem;
}
.dados-pessoal  h1{
    font-size: 3rem;
    width: 300px;
    margin: 20px 0 0 0;
    color: #fff;
}
.dados-pessoal p{
    font-size: 1rem;
}

.dados-pessoal a{
    color: lightskyblue;
    text-decoration: none;
}
.dados-pessoal a:hover{
    color: #fff;
}
.dados-pessoal span{
    color: lightskyblue;
}
.hr-linha{
    margin: 50px 0;
    border: 4px solid #fff;
}

.col-dados{
    padding-top: 70px;
}

.col-dados:last-child{
    padding-bottom: 30px;
}

.col-dados h2{
    margin-bottom: 10px;
    color: #fff;
}

.col-dados p{
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 15px;
}

.col-dados li{
    margin-bottom: 5px;
}

.col-dados ul{
    margin-bottom: 20px;
}





.informacoes .containe{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.informacoes p{
    line-height: 1.4rem;
}
.informacoes a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 3px 10px;
    margin-left: 10px;
    border-radius: 4px;
    text-shadow: 0 0 0 #f27609;
    background-color: #f27609;
}
.informacoes a i{
    margin-left: 3px;
    vertical-align: middle;
}
.informacoes a:hover{
    text-decoration: underline;
}
.text-orange{
    color: #f27609;
    display: block;
}
.col-info{
    margin-bottom: 70px;
}
.titulo{
    padding: 15px 0;
    text-align: left;
    font-size: 1.3rem;
    background-color:rgb(243, 243, 243);
    border: 1px solid #ccc;
    padding-left: 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.col-secao{
    margin-bottom: 30px;
}
.col-secao h3{
    font-weight: bold;
    margin-bottom: 5px;
}
.col-secao h4{
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(73, 73, 73) !important;
}

.col-secao p{
    margin-bottom: 5px;
    color: #919191;
    text-shadow: 0 0 0 #111;
}

.barra{
    margin-bottom: 20px;
}
.barra-p{
    padding: 20px 0;
}

.col-secao h2, .col-secao h3, .col-secao h4{
    color:rgb(43, 43, 43);
}



@media (max-width:860px){
    .nada{
        display: none;
    }
    .menu{
        background-color: rgb(43, 43, 43);
    }
    .menu nav ul li a{
        color: #fbfbfb;
    }
    .dados-pessoal{
        width: 100%;
    }
    .informacoes{
        width: 100%;
    }
}

@media (max-width:640px){
    .menu-mobile{
        display: flex;
        justify-content: flex-end;
        line-height: 1.2rem;
        color: #fbfbfb;
        margin-right: 20px;
        font-size: 1.2em;
        margin-top: 20px;
    }
    .menu{
        width: 240px;
        height: 100%;
        position: fixed;
        background-image: url("../img/textura.png");
        top: 0;
        right: 0;
    }
    .menu nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .menu nav ul li a{
        color: rgb(43, 43, 43);
        font-weight: bold;
    }
    .menu nav ul li{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(43, 43, 43);
    }
    .menu nav ul li:last-child{
        padding-bottom: 0;
        border-bottom: 0;
    }
}