*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* GERAL */
.container{
    width: 1200px;
    margin: 0 auto;
}

.titulo-principal{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
}

.assinatura{
    font-family: 'Sacramento', cursive;
    display: inline-block;
    font-size: 36px;
    margin-top: 20px;
}

.titulo-secao{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: #464646;
    text-align: center;
}

.text-padrao{
    color: #2A7AE4;
    font-weight: bold;

    animation-name: text-movimento;
    animation-duration: 2s;
    transition: ease-out;
}


/* HEADER */
.cabecalho{
    padding-top: 34px;
    width: 100%;
    min-height: 520px;
    background-color: #F5F5F5;
    color: #464646;
}

.cabecalho-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.lista-menu{
    line-height: 30px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.item-menu{
    display: inline;
    margin-right: 30px;
}
.item-menu:last-child{
    margin-right: 0px;
}
.item-menu a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #464646;
}
.item-menu a:hover{
    color: #2A7AE4;
}

/* CABEÇALHO SOBRE MIM */
.cabecalho-sobre-mim{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.titulo-apresentacao{
    font-size: 52px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 24px;
}

.paragrafo-apresentacao{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 24px;
}

.lista-redes{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.item-redes{
    display: inline;
    margin-right: 40px;
}
.item-redes:last-child{
    margin-right: 0px;
}
.item-redes a{
    text-decoration: none;
    font-weight: 500;
    color: #464646;
}
.item-redes a:hover{
    color: #2A7AE4;
}

.foto-redonda{
    width: 368px;
    height: 368px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;

    animation-name: imagem-movimento;
    animation-duration: 2s;
    transition: ease-out;
}


/* SEÇÃO SOBRE MIM */
.secao-sobre-mim{
    display: flex;
    align-items: center;
    min-height: 382px;
    background-color: #EAF2FD;
}
.secao-sobre-mim p{
    width: 800px;
    margin-top: 25px;
}
.secao-sobre-mim .titulo-secao{
    text-align: left;
    color: #464646;
}


/* SEÇÃO SKILLS */
.secao-skills{
    background-color: #F5F5F5;
    min-height: 382px;
}
.secao-skills h2{
    padding: 32px 0;
}



/* SEÇÃO HOBBIES */
.secao-hobbies{
    background-color: #F5F5F5;
    min-height: 382px;
}
.secao-hobbies h2{
    padding: 32px 0;
}



/* SEÇÃO FORMAÇÃO */
.secao-formacao{
    min-height: 502px;
    background-color: #EAF2FD;
}
.secao-formacao h2{
    padding: 32px 0;
}
.item-formacao h4{
    font-size: 22px;
    font-weight: 700;
    color: #464646;
    margin: 8px 0;
}
.item-formacao span{
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}


/* FOOTER */
.footer{
    min-height: 80px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer p{
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}


/* MODELO DE SKILLS E HOBBIES */
.skills{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
}
.skill{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 0 0 20px 20px;
    width: 176px;
    height: 174px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px #000;
    margin-left: 16px;
}
.skill > h4{
    margin-top: 10px;
    color: #464646;
    font-weight: bold;
} 
/* MODELO DE FORMAÇÃO */
.formacoes{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
}
.formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 286px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px #000;
}
.formacao img{
    width: 192px;
    height: 130px;
}

/* MENU MOBILE */
.menu-mobile #i{
    margin-left: 85%;
    font-size: 2.5rem;
    text-align: right;
    color: #2A7AE4;
    display: none;
}
.oculto{
    display: none;
}
#close-menu{
    position: absolute;
    top: 10px;
    right: 10px;
}
#close-menu #ii{
    color: #2A7AE4;
    font-size: 2rem;
}
#close-menu #ii:active{
    color: #eb0f0f;
}


/* FRAMES KEY*/

@keyframes imagem-movimento{
    0%{
        transform: translateY(-40px);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes text-movimento{
    0%{
        opacity: 0;
    }
    100%{
    }
}

/* BREAKS POINTS */
@media (max-width:600px){
    .container{
        width: 100%;
    }
    .menu-mobile #i{
        display: inline-block;
    }

    .cabecalho-menu{
        display: none;
    }

    .cabecalho-mobile{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;
        background-color: rgba(44, 44, 44, .15);
    }
    .nav-mobile{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        width: 250px;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0px;
        padding: 0px;
        background: url("../img/textura.png");
        padding-top: 70px;
        z-index: 99;
    }
    .item-menu{
        display: block;
        margin: 0px;
        margin-bottom: 10px;
    }
    .item-menu a{
        font-size: 20px;
    }
}