/* Media querys */
@media (min-width: 1000px) and (max-width:1250px){
    .image-profile{
        max-width: 320px;
        max-height: auto;
        border-radius: 320px;
    }
    .main h1{
        font-size: 3rem;
        margin-left: 20px;
    }
    .main h2{
        font-size: 1rem;
        margin-left: 20px;
    }
    .titulo{
        margin-left: 20px;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto;
    }
    .card-trabalho{
        margin: 0 auto;
    }
}


@media (min-width:640px) and (max-width:999.9px){
    .main{
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100vh;
    }
    .image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .image-profile{
        max-width: 280px;
        max-height: auto;
        border-radius: 280px;
        margin: 0;
    }
    .main h1{
        font-size: 2.7rem;
        margin: 0;
        text-align: center;
    }
    .main h2{
        font-size: 1rem;
        text-align: center;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 89%;
        grid-template-rows: auto;
    }
    .card-trabalho{
        margin: 0 auto;
    }
    .main-contato{
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .contato{
        margin: 0;
        margin-bottom: 40px;
    }
}

@media (max-width:640px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-profile{
        max-width: 180px;
        max-height: auto;
        border-radius: 180px;
        margin: 0;
    }
    .main h1{
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
    }
    .main h2{
        font-size: 1rem;
        text-align: center;
    }

    .portfolio{
        display: grid;
        grid-template-columns: 89%;
        grid-template-rows: auto;
    }
    .card-trabalho{
        margin: 0 auto;
    }


    .nav{
        display: none;
    }

    .menu-mobile{
        display: block;
        color: var(--cor-fonte);
        text-align: right;
        margin-right: 20px;
        font-size: 3em;
        margin-top: 20px;
    }
    .nav-mobile{
        display: block;
        background-image: url("../img/textura.png");
        background-size: cover;
        position: fixed;
        width: 250px;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 10;
    }
    .nav-mobile ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        row-gap: 20px;
    }
    .nav-mobile ul li a{
        color: var(--cor-fundo);
        font-weight: bold;
    }
    .nav-mobile ul li{
        text-align: center;
        width: 80%;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--cor-fundo);
    }
    .nav-mobile ul li:last-child{
        padding-bottom: 0;
        border-bottom: 0;
    }
    .main-contato{
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .contato{
        margin: 0;
        margin-bottom: 40px;
    }
}


@media (max-width: 430px){
    .portfolio{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        margin-left: 13px;
    }
    .card-trabalho{
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    .blackbox-text{
        text-align: center;
    }
    .main h1{
        font-size: 1.8rem;
        margin: 0;
    }
    .main h2{
        font-size: .8rem;
    }
    .main-contato{
        width: 90%;
        flex-direction: column;
        margin-bottom: 40px;
        margin-left: 5%;
    }
    .contato{
        margin-bottom: 40px;
    }
    .enviar-email form{
        width: 90%;
        padding: 15px;
        margin-left: 5%;
    }
    .enviar-email form input, .enviar-email form textarea{
        width: 100%;
    }
}