:root{
    --cor-fonte: #ccc;
    --cor-fundo: rgb(43, 43, 43);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}
/* 
    para fazer uma barra de navegação
    usa um tamanho para height
    e vai usar o mesmo tamanho para line-height

    nav{
        height: 50px;
        line-height: 50px;
    }
*/


/* Estilo index.html */
body{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.navigation{
    padding: 25px 0;
}
.navigation ul {
    list-style: none;
}
.navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.navigation ul li a{
    text-decoration: none;
    color: var(--cor-fonte);
    padding: 0 30px;
    font-weight: 400;
}

.menu-mobile {
   display: none;
}



.image-profile{
    max-width: 350px;
    max-height: auto;
    border-radius: 350px;
    border: none;
    object-fit: cover;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.main h1{
    text-transform:uppercase;
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.8rem;
    margin-bottom: 10px;
    color: #fff;
}
.main h2{
    font-size: 1.2rem;
    font-weight: 500;
}

.text-orange{
    color: #f27609;
    display: block;
    animation-name: text-movi;
    animation-duration: 2s;
}
.image{
    width: 35%;
    margin-left: 4%;
    animation-name: imagem-movi;
    animation-duration: 700ms;
    transition: ease-out;
}
.titulo{
    width: 70%;
}

@keyframes imagem-movi{
    0%{
        margin-top: -20%;
        opacity: 0;
    }
    25%{
        margin-top: -15%;
        opacity: 0;
    }
    50%{
        margin-top: -10%;
        opacity: .5;
    }
    75%{
        margin-top: -5%;
        opacity: .7;
    }
    100%{
        margin-top: 0%;
        opacity: 1;
    }
}

@keyframes text-movi{
    0%{
        font-size: 0;
    }
    100%{
    }
}








/* Estilo contato.html */
.contato{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 10vh;
    row-gap: 20px;
}
.contato h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
}
.contato h2{
    color: #f27609;
    font-size: 1.4rem;
    font-weight: 400;
}

.redes-sociais{
    width: 260px;
    display: flex;
   justify-content: space-around;
   font-size: 2.5rem;
}
.redes-sociais a{
    color: var(--cor-fonte);
}
.redes-sociais a:hover{
    color: lightskyblue;
}


/* Estilo portfoli.html */

.port{
    font-size: 2rem;
    color: #fff;
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 50px;
}
.portfolio{
    display: grid;
    margin-left: 10vw;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    row-gap: 50px;
    padding-bottom: 50px;
}
.card-trabalho{
    width: 350px;
    height: 350px;
    object-fit: cover;
    background-size: cover;
}

.blackbox{
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0;
}
.blackbox:hover{
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackbox-text h1{
    color: #f27609;
    font-weight: 700;
    text-transform: uppercase;
}
.blackbox-text h2{
    color: #fff;
    font-weight: 400;
    text-align: center;
}







@media (min-width: 1000px) and (max-width:1250px){
    .image-profile{
        max-width: 320px;
        max-height: auto;
        border-radius: 320px;
    }
    .main h1{
        font-size: 3rem;
        margin-left: 20px;
    }
    .main h2{
        font-size: 1rem;
        margin-left: 20px;
    }
    .titulo{
        margin-left: 20px;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto;
    }
    .card-trabalho{
        margin: 0 auto;
    }
}


@media (min-width:640px) and (max-width:999.9px){
    .main{
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100vh;
    }
    .image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .image-profile{
        max-width: 280px;
        max-height: auto;
        border-radius: 280px;
        margin: 0;
    }
    .main h1{
        font-size: 2.7rem;
        margin: 0;
    }
    .main h2{
        font-size: 1rem;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 89%;
        grid-template-rows: auto;
    }
    .card-trabalho{
        margin: 0 auto;
    }
}

@media (max-width:640px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-profile{
        max-width: 180px;
        max-height: auto;
        border-radius: 180px;
        margin: 0;
    }
    .main h1{
        font-size: 2.5rem;
        margin: 0;
    }
    .main h2{
        font-size: 1rem;
    }
    .navigation .nav{
        background-image: url("../img/textura.png");
        background-size: cover;
        position: fixed;
        width: 250px;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 10;
    }
    .menu-mobile{
        display: flex;
        color: var(--cor-fonte);;
        justify-content: flex-end;
        margin-right: 20px;
        font-size: 1.2em;
    }
    .navigation ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        row-gap: 20px;
    }
    .navigation ul li a{
        color: var(--cor-fundo);
        font-weight: bold;
    }
    .navigation ul li{
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--cor-fundo);
    }
    .navigation ul li:last-child{
        padding-bottom: 0;
        border-bottom: 0;
    }
}